#login-card {
    margin: auto;
    margin-block-start: 10vh;
    width: auto;
    max-width: 20vw;
    min-width: min-content;
}

#card-label {
    text-align: center;
    margin-bottom: 1rem;
}

#login-card #login-email,
#login-card #login-password {
    width: 100%;
    margin-bottom: 0.4rem;
}

#button-login {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
}

#button-register,
#button-forgot {
    display: block;
    margin: auto;
    margin-bottom: 0.2rem;
}